/* Estilos para el mapa */
#map-container {
    display: flex;
    margin-top: 2rem;
}

#map {
    border: 1px solid rgba(84, 84, 84, 0.651);
    height: fit-content;
}

/* Estilos para la sección de información */
#info-section {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#info-section h2 {
    margin-bottom: 1rem;
    margin-top: 2rem;
}

#info-section p {
    margin-bottom: 0.5rem;
}

/* Estilos para el formulario */
#contact-form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin-top: 2rem;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact-form button {
    padding: 10px 20px;
    background-color: #b83030;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contact-form button:hover {
    background-color: #a12828;
}

#contact-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -1rem;
}

#contact-form-container label {
    margin-bottom: .5rem;
}

.form-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1rem; /* Añade un espacio entre los campos */
}

.form-group {
    flex: 1;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.custom-hr {
    width: 50%; /* Ajusta el ancho al 50% del contenedor */
    margin: 0 auto; /* Centra la línea horizontal */
    border: 1px solid #ccc; /* Opcional: ajusta el estilo del borde */
}

/* Estilos para el contenedor general */
#main-container {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

#contact-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#contact-info-form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#contact-info-form h2 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#contact-info-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#social-media-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Estilos para el chat de soporte */
#chat-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 20rem;
    background-color: #e1e1e1;
}

#chat-header {
    background-color: #b83030;
    color: white;
    padding: 0.3rem 0.1rem 0.3rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#toggle-button {
    color: white;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding-top: 0.2rem;
}

#chat-container.minimized {
    height: 40px;
}

#messages-container {
    height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 0 10px;
}

#chat-input {
    width: 100%;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#send-button {
    width: 3.5rem;
    height: 2rem;
    padding: 0.2rem;
    margin-top: 0.8rem;
    margin-right: 0.5rem;
    background-color: #b83030;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chat-input-container {
    background-color: white;
    display: flex;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.358);
}

.message {
    margin-bottom: 5px;
    display: flex;
    margin: 0.5rem 0.1rem;
}

.message.sender {
    justify-content: flex-end;
    text-align: end;
}

.message.sender .message-content {
    background-color: #f9f9f9;
    color: #000;
    border-radius: 0.2rem;
    padding: 0.2rem;
    width: fit-content;
    display: flex;
    text-align: end;
}

.message-receiver .message-content {
    background-color: #f1f1f1;
    color: #000;
    border-radius: 0.2rem;
    padding: 0.2rem;
    width: fit-content;
    display: flex;
    text-align: start;
}

/* Estilos para la barra de desplazamiento */
#messages-container::-webkit-scrollbar {
    width: 8px;
    margin-top: 0.5rem;
}

#messages-container::-webkit-scrollbar-thumb {
    background-color: #a1a0a0;
    border-radius: 4px;
}

#message {
    resize: none;
}

.formulario-centro {
    display: flex;
    width: 100%;
    justify-content: center;
}
