.contenedor-discos {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 1rem 0 1rem;
}

.disco-vinilo {
    display: flex;
    align-items: center; /* Alinear elementos verticalmente */
    margin: 10px;
    padding: .2rem;
}

.imagen-disco {
    width: 15rem; /* Ancho fijo para las imágenes */
    height: auto; /* Altura automática para mantener la proporción */
    margin-right: 1rem;
}

.linea-vertical {
    height: 12rem; /* Altura mayor que la altura máxima de las imágenes */
    width: 2px; /* Ancho de la línea vertical */
    background-color: rgba(0, 0, 0, 0.69); /* Cambiamos el color de fondo a blanco */
    margin-right: 1rem; /* Espacio entre la línea y el texto */
}


.info-disco {
    flex-grow: 1;
}

.info-disco h2 {
    margin-top: 0;
}

.info-disco p {
    margin: 0;
    margin-bottom: 5px;
}

.descripcion {
    font-style: italic;
    font-size: .9rem;
}

.precio {
    font-weight: bold;
}

