
.contenedor-discos {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 1rem 0 1rem;
}

.disco-vinilo {
    display: flex;
    width: 100%; /* 50% del ancho del contenedor menos el espacio entre elementos */
    margin: 10px;
    padding: .2rem;
}

.imagen-disco {
    width:auto; /* Tamaño deseado para la imagen */
    height: 10rem;
    margin-right: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.477);
}

.info-disco {
    flex-grow: 1;
    
}

.info-disco h2 {
    margin-top: 0;
}

.info-disco p {
    margin: 0;
    margin-bottom: 5px;
}

.descripcion {
    font-style: italic;
}

.precio {
    font-weight: bold;
}
