* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(253, 253, 253);
    height: fit-content;
}

/* Estilos para el mensaje de bienvenida */
.bienvenida {
    display: inline-block;
    /* Para mantener en una sola línea */
    margin-right: 4.5rem;
    /* Añadimos margen derecho */
    /* Espacio entre el mensaje y los iconos */
    height: max-content;
    width: 18rem;
    text-align: end;
    margin-top: .5rem;
}

/* Estilos para los iconos */
.iconos {
    display: inline-block;
    /* Para mantener en una sola línea */
    vertical-align: middle;
    /* Alinear verticalmente */
}

/* Estilos adicionales para los iconos si es necesario */
.enlace-imagen-cerrar {
    margin: 0;
    margin-right: 1rem;
    margin-top: .5rem;
    transition: transform 0.2s ease-in-out;
}

.carrito {
    cursor: pointer;
    height: fit-content;
    /* Ajusta el margen derecho según sea necesario */
    margin-top: .5rem;
    transition: transform 0.2s ease-in-out;
    margin-right: -1rem;
    display: flex;
}

.carrito:hover,
.enlace-imagen-cerrar:hover {
    transform: scale(1.2);
}

#elementos-carrito {
    list-style-type: none;
    padding: 0;
}

#elementos-carrito li {
    margin-bottom: 5px;
}

/* Estilos para el contenedor del icono del carrito y del contador */
.carrito-container {
    position: absolute;
    top: 0;
    right: 30px;
    /* Ajusta la distancia desde la derecha según sea necesario */
    display: flex;
    align-items: center;
    margin-right: 2.5rem;
    /* Puedes ajustar este valor según sea necesario */
}



.contenedor-discos {
    /* Ajustamos el tamaño del contenedor para dejar espacio para el iframe de Spotify */
    width: calc(100% - 30rem); /* Restamos el ancho del iframe */
    margin-left: 3rem;
}

.botones {
    display: flex;
    justify-content: flex-end; /* Alineamos los botones hacia la derecha */
}

.episodes {
    margin-right: 1rem; /* Añadimos un margen entre el botón de Spotify y los demás botones */
}

.contenedor-artistas {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 3rem auto;
}

.disco-vinilo {
    display: flex;
    align-items: center;
    /* Alinear elementos verticalmente */
    margin: 10px;
    padding: .2rem;
}

.imagen-disco,
.imagen-artista {
    width: 15rem;
    /* Ancho fijo para las imágenes */
    height: auto;
    /* Altura automática para mantener la proporción */
    margin-right: 1rem;
    transition: transform 0.3s ease;
    /* Transición suave de 0.3 segundos para el efecto de zoom */

}

.imagen-disco:hover {

    transform: scale(1.05);

}

.linea-vertical {
    height: 14rem;
    /* Altura mayor que la altura máxima de las imágenes */
    width: 2px;
    /* Ancho de la línea vertical */
    background-color: rgba(0, 0, 0, 0.782);
    /* Cambiamos el color de fondo a blanco */
    margin-right: 1rem;
    /* Espacio entre la línea y el texto */
    margin-bottom: 1rem;
}

.info-disco,
.info-artista {
    flex-grow: 1;
}

.info-disco h2,
.info-artista h2 {
    margin-top: 0;
}

.info-disco p,
.info-artista p {
    margin: 0;
    margin-bottom: 5px;
}

.descripcion {
    font-style: italic;
    font-size: .9rem;
    width: 100%;
}

.precio,
.existencias {
    width: fit-content;
}

.contenedor-busqueda {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

#busqueda {
    width: 20%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-color: #1e1e1e30;
    /* Borde inicialmente transparente */
    transition: border-color 0.3s ease;
    /* Transición para el cambio de color del borde */
    border-radius: .2rem;
}

#busqueda:hover {
    border-color: #0000007f;
    /* Color del borde al pasar el ratón por encima */
}

.saber-mas {
    background-color: #b83030;
    /* Color de fondo */
    color: white;
    /* Color del texto */
    padding: 0.3rem .5rem;
    /* Espaciado dentro del botón */
    border: none;
    /* Borde sin estilo */
    border-radius: 4px;
    /* Bordes redondeados */
    cursor: pointer;
    /* Cursor al pasar sobre el botón */
    text-align: center;
    /* Alineación del texto */
    text-decoration: none;
    /* Sin subrayado */
    font-size: 16px;
    /* Tamaño de la fuente */
    display: flex;
    float: right;
    transition: background-color 0.3s ease;
    
}

.saber-mas:hover {
    background-color: #9e0505;
}



.carrito-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    /* Asegura que no haya espacio alrededor del botón */
    display: flex;
    float: inline-end;
    transition: transform 0.2s ease-in-out;
    margin-right: 1rem;
}

.carrito-btn:hover {
    transform: scale(1.1);
}

.desplazable {
    position: fixed;
    top: 32%; /* Ajusta la posición inicial del div */
    left: 72%; /* Centra horizontalmente el div */
    transition: top 0.3s; /* Agrega una transición suave */
    width: fit-content;
}

.episode{

    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

}

.episode:hover{

    transform: scale(1.2);


}


/* Lo qu pasa cuando la pantalla es menor a 1250px */
@media (max-width:1250px) {

    .bienvenida,
    .enlace-imagen-cerrar,
    .carrito {
        display: none;
    }

    #miDiv{

        display: none;
    }

    .contenedor-discos{

        width: fit-content;
        margin-right: 3rem;
    }

}



/* Estilos para el archivo Artistas.php */
.artista {
    margin-top: 1.5rem;
    padding: .2rem;
    flex-basis: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 2rem;
    display: flex;
}

/* Estilos para los elementos dentro de la clase 'artista' con índice impar (izquierda) */
.artista:nth-child(odd) .imagen-artista {
    width: 15rem;
    height: auto;
    transition: transform 0.3s ease;
}

.artista:nth-child(odd) .info-artista {
    flex-grow: 1;
    margin-left: .5rem;
}

/* Estilos para los elementos dentro de la clase 'artista' con índice par (derecha) */
.artista:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
    /* Invierte la dirección de los elementos */
}

.artista:nth-child(even) h2 {
    display: inline-block;
}

.artista:nth-child(even) .imagen-artista {
    width: 15rem;
    height: auto;
    transition: transform 0.3s ease;
    margin: 0;
}

.artista:nth-child(even) .info-artista {
    flex-grow: 1;
    /* Permite que el texto ocupe el espacio restante */
    margin-right: 1.5rem;
    text-align: right;
}

.info-artista h2 {
    margin-top: 0;
    width: fit-content;
}

.info-artista p {
    margin: 0;
    margin-bottom: 5px;
}

.imagen-artista {
    transition: transform 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.752);
}

.imagen-artista:hover {
    transform: scale(1.1);
}

.descripcion-artista {
    width: 75%;
    display: inline-block;
}

.ultimo-artista {
    border: none;
    padding-bottom: 0;
}

.enlace-artistas-discos {
    color: black;
    width: fit-content;
}


/* ESTILO PARA LA PAGINA DEL CARRITO */
.container {
    max-width: 50rem;
    margin: 3rem auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cart-table th,
.cart-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-table th {
    background-color: #f0f0f0;
    text-align: left;
}

.quantity-input {
    width: 50px;
}

.update-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-link {
    color: #f44336;
    text-decoration: none;
    margin-left: 10px;
}

.empty-cart-message {
    text-align: center;
    font-style: italic;
    color: #888;
}

.clear-cart-button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    float: right;
}

.clear-cart-button:hover {
    background-color: #d32f2f;
}
