* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Le damos un scroll suave a todo el html */
html {
    scroll-behavior: smooth;
}

/* Ponemos la fuente de Montserrat */
body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}